@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
@import 'const.sass'

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background-color: $bgColor
  color: $fontColor
  font-family: 'Montserrat'

.container
  max-width: 1250px
  margin: 0px auto
